body {
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
}

header a{
    text-decoration: none;
    color: #333467;
    font-weight: 600;
    padding: 10px;
}

header a:hover{
    color: #f26f21;
}

header > img{
    margin-right: 300px;
}

section{
    background-image: url("assets/bc_header_bg.png");
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 30px;
    margin-top: 50px;
    color: #333467;
    text-align: left;
    display: flex;
    justify-content: left;
}

section > h1{
    font-size: 34px;
    text-transform: uppercase;
    color: #F26F21;
    display: inline-block;
    padding: 10px 20px 10px 10px;
    background-color: #fff;
    margin-left: 300px;
}

p{
    color: black;
    font-size: 18px;
}

.stekjes{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* STEK 1 */

.stek1{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.stekje1-tekst > h2{
    margin-left: 100px;
    font-weight: 600;
    font-size: 23px;
}
.stekje1-tekst > p{
    margin-left: 100px;
}

.stek1 > img{
    border-radius: 25px;
}

/* STEK 2 */

.stek2{
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    background-color:#333467;
}

.stekje2-tekst > h2{
    margin-right: 100px;
    color: white;
    font-weight: 600;
    font-size: 23px;
}

.stekje2-tekst > p{
    margin-right: 100px;
    color: white;
}

.stek2 > img{
    border-radius: 25px;
}

/* STEK 3 */

.stek3{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.stekje3-tekst > h2{
    margin-left: 100px;
    font-weight: 600;
    font-size: 23px;
}
.stekje3-tekst > p{
    margin-left: 100px;
}

.stek3 > img{
    border-radius: 25px;
}

/* STEK 4 */

.stek4{
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    background-color:#333467;
}

.stekje4-tekst > h2{
    margin-right: 100px;
    color: white;
    font-weight: 600;
    font-size: 23px;
}

.stekje4-tekst > p{
    margin-right: 100px;
    color: white;
}

.stek4 > img{
    border-radius: 25px;
}

/* STEK 5 */

.stek5{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.stekje5-tekst > h2{
    margin-left: 100px;
    font-weight: 600;
    font-size: 23px;
}
.stekje5-tekst > p{
    margin-left: 100px;
}

.stek5 > img{
    border-radius: 25px;
}

/* RESPOSIVE */

