
body {
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
}

header a{
    text-decoration: none;
    color: #333467;
    font-weight: 600;
    padding: 10px;
}

header a:hover{
    color: #f26f21;
}

header > img{
    margin-right: 300px;
}

.stekjesbieb-header{
    background-image: url("assets/bc_header_bg.png");
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 30px;
    margin-top: 50px;
    color: #333467;
    text-align: left;
    display: flex;
    justify-content: left;
}

.stekjesbieb-header > h1{
    font-size: 34px;
    text-transform: uppercase;
    color: #F26F21;
    display: inline-block;
    padding: 10px 20px 10px 10px;
    background-color: #fff;
    margin-left: 300px;
}

p{
    color: black;
    font-size: 18px;
}

.stekjes{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* STEK 1 */

.stek1{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.stekje1-tekst > h2{
    margin-left: 100px;
    font-weight: 600;
    font-size: 23px;
}
.stekje1-tekst > p{
    margin-left: 100px;
}

.stek1 > img{
    border-radius: 25px;
}

/* STEK 2 */

.stek2{
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    background-color:#333467;
}

.stekje2-tekst > h2{
    margin-right: 100px;
    color: white;
    font-weight: 600;
    font-size: 23px;
}

.stekje2-tekst > p{
    margin-right: 100px;
    color: white;
}

.stek2 > img{
    border-radius: 25px;
}

/* STEK 3 */

.stek3{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.stekje3-tekst > h2{
    margin-left: 100px;
    font-weight: 600;
    font-size: 23px;
}
.stekje3-tekst > p{
    margin-left: 100px;
}

.stek3 > img{
    border-radius: 25px;
}

/* STEK 4 */

.stek4{
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    background-color:#333467;
}

.stekje4-tekst > h2{
    margin-right: 100px;
    color: white;
    font-weight: 600;
    font-size: 23px;
}

.stekje4-tekst > p{
    margin-right: 100px;
    color: white;
}

.stek4 > img{
    border-radius: 25px;
}

/* STEK 5 */

.stek5{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.stekje5-tekst > h2{
    margin-left: 100px;
    font-weight: 600;
    font-size: 23px;
}
.stekje5-tekst > p{
    margin-left: 100px;
}

.stek5 > img{
    border-radius: 25px;
}

/* RESPOSIVE MENU */

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 50px;
    padding: 1em;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > a{
    margin: 0 1rem;
    overflow: hidden;
    color: #333467;
    font-weight: 600;
    padding: 10px;
    text-decoration: none;
  }

  .menu > a:hover{
    color: #f26f21;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #333467;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(117, 110, 110, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 768px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 90px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu a {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu a {
      border: 1px solid #ffffff;
      height: 2.5em;
      padding: 0.5em;
      padding-top: 2em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > a {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: #ffffff;
      background-color: #333467;
    }
    .menu > a:not(:last-child) {
      border-bottom: 1px solid #333467;
    }
  }
